<div class="login-container container-fixed">
  <h1>Create Your Blog Below:</h1>
  <form id="blog-form" class="signup-form">
    <div class="form-group">
      <label for="exampleInputEmail1">Blog Title</label>
      <input
        type="title"
        class="form-control"
        id="title-blog"
        placeholder="Enter Title"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Content</label>
      <input
        type="content"
        class="form-control"
        id="content-blog"
        placeholder="Enter Blog Content"
      />
    </div>

    <button id="button" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script src="/js/blog.js"></script>