<div class="login-container container-fixed">
  <form class="login-form">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
      />
    </div>
    <button id="button" type="submit" class="btn btn-primary">Submit</button>
    <div>
      <p>
        Don't have an account with us?
        <span> <a id="sign-up" href="/signup">Sign Up</a> </span>
      </p>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>