<div class="login-container container-fixed">
  <h1>Enter Your Info Below:</h1>
  <form id="user-form" class="signup-form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-signup"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input
        type="username"
        class="form-control"
        id="username-signup"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-signup"
        placeholder="Password"
      />
    </div>

    <button id="button" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script src="/js/signup.js"></script>